<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>text_or_url</string>
				<key>UUID</key>
				<string>CEAE37FD-06AF-4883-BD9C-16B93DA5F0B4</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>241B5B8A-B352-403A-8F14-E42E12AB439D</string>
					<key>workflowName</key>
					<string>URL Or Text</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>URL Or Text</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemtype</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>19BC4708-298B-4C85-9E05-106D2FACB6E7</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>text_or_url</string>
						<key>OutputUUID</key>
						<string>CEAE37FD-06AF-4883-BD9C-16B93DA5F0B4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>487F0E23-9FD1-4A42-89FB-23E6E095CB93</string>
				<key>UUID</key>
				<string>3E0343C3-179D-4307-B476-1B034D054E81</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>URL</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Type</string>
							<key>OutputUUID</key>
							<string>19BC4708-298B-4C85-9E05-106D2FACB6E7</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2AC6CBE0-0641-4C64-BA86-0C77341A4D91</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>text_or_url</string>
						<key>OutputUUID</key>
						<string>CEAE37FD-06AF-4883-BD9C-16B93DA5F0B4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>5735F94B-30AC-4750-A644-7A2F8948624B</string>
					<key>workflowName</key>
					<string>Redirect to WeChat</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Redirect to WeChat</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>CCA80945-2B01-42AF-AF10-769ACE1EA121</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Shortcut Result</string>
							<key>OutputUUID</key>
							<string>2AC6CBE0-0641-4C64-BA86-0C77341A4D91</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0BF0CFD8-BDF8-40F6-9E6B-068E1FD00BF1</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>2AC6CBE0-0641-4C64-BA86-0C77341A4D91</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>CCA80945-2B01-42AF-AF10-769ACE1EA121</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>text_or_url</string>
						<key>OutputUUID</key>
						<string>CEAE37FD-06AF-4883-BD9C-16B93DA5F0B4</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>weibo_url</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>487F0E23-9FD1-4A42-89FB-23E6E095CB93</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.Boolean</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>Boolean</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>E3D30034-2A68-44CB-9CA8-6C6660490E31</string>
				<key>boolean</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EF409F38-8230-4CBD-B509-12EBD95773B9</string>
				<key>UUID</key>
				<string>3FF6C911-5D59-40A1-A9C1-7B80C539067D</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>ExtensionInput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Boolean</string>
						<key>OutputUUID</key>
						<string>E3D30034-2A68-44CB-9CA8-6C6660490E31</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>get_screen</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EF409F38-8230-4CBD-B509-12EBD95773B9</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>9572CCB0-9FAC-44AD-9764-C6229FC78E29</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFMenuItems</key>
				<array>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<dict>
							<key>Value</key>
							<dict>
								<key>attachmentsByRange</key>
								<dict>
									<key>{6, 1}</key>
									<dict>
										<key>Type</key>
										<string>ExtensionInput</string>
									</dict>
								</dict>
								<key>string</key>
								<string>Share &#xFFFC;</string>
							</dict>
							<key>WFSerializationType</key>
							<string>WFTextTokenString</string>
						</dict>
					</dict>
					<string>Fetch current post</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>9572CCB0-9FAC-44AD-9764-C6229FC78E29</string>
				<key>UUID</key>
				<string>C810D892-CCC2-4A74-954B-C01DBA86C564</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemAttributedTitle</key>
				<dict>
					<key>attachmentsByRange</key>
					<dict>
						<key>{6, 1}</key>
						<dict>
							<key>Type</key>
							<string>ExtensionInput</string>
						</dict>
					</dict>
					<key>string</key>
					<string>Share &#xFFFC;</string>
				</dict>
				<key>WFMenuItemTitle</key>
				<string>Share 输入快捷指令的信息</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>983EB409-0EEB-4A44-B18F-0EDA15DF85D5</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ExtensionInput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>0EAE26FA-2CF0-4012-A327-62FB4AA13AFE</string>
					<key>workflowName</key>
					<string>Share To +</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Share To +</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.output</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A3A5B64D-416F-4BF3-B05B-1A027FEFDE05</string>
				<key>WFOutput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Shortcut Result</string>
								<key>OutputUUID</key>
								<string>983EB409-0EEB-4A44-B18F-0EDA15DF85D5</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>9572CCB0-9FAC-44AD-9764-C6229FC78E29</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
				<key>WFMenuItemTitle</key>
				<string>Fetch current post</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Boolean</string>
						<key>OutputUUID</key>
						<string>E3D30034-2A68-44CB-9CA8-6C6660490E31</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>get_screen</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>9572CCB0-9FAC-44AD-9764-C6229FC78E29</string>
				<key>UUID</key>
				<string>FE336F44-FEE8-4A81-BDE9-B9B5AC73D62C</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>EF409F38-8230-4CBD-B509-12EBD95773B9</string>
				<key>UUID</key>
				<string>554A4AC2-403C-4EB9-9FB8-9FC89FC538B1</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>487F0E23-9FD1-4A42-89FB-23E6E095CB93</string>
				<key>UUID</key>
				<string>C41DA555-2C23-406B-A22D-9FC2F92526D3</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8B67ECD3-58A1-4103-9FC7-3FD28740B4D3</string>
				<key>UUID</key>
				<string>E32D5162-4752-453B-AE10-308CCEC8ED72</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>get_screen</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Prefers clipboard content than what’s on screen. 
However the returned Weibo URL requires login.
TODO: send token.  </string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getonscreencontent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>962BAF55-AF89-4721-881C-46660256B407</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>121DBD19-A497-4A52-BCDB-324DB87BBA18</string>
				<key>WFCondition</key>
				<integer>100</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>What’s On Screen</string>
							<key>OutputUUID</key>
							<string>962BAF55-AF89-4721-881C-46660256B407</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>What’s On Screen</string>
						<key>OutputUUID</key>
						<string>962BAF55-AF89-4721-881C-46660256B407</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>weibo_url</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>34C65276-0769-46D6-9C34-CBAF0376F788</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{32, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>weibo_url</string>
							</dict>
						</dict>
						<key>string</key>
						<string>SmartWeibo | Get on screen post &#xFFFC; </string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D6A34592-E39D-404B-B385-0759A47E5122</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>34C65276-0769-46D6-9C34-CBAF0376F788</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>7B0D3D10-E094-49A0-A541-3F4B1F74B66A</string>
					<key>workflowName</key>
					<string>debug__Logging</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>debug__Logging</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>121DBD19-A497-4A52-BCDB-324DB87BBA18</string>
				<key>UUID</key>
				<string>772001E9-97AD-459A-AA21-90A8BE874B3F</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8B67ECD3-58A1-4103-9FC7-3FD28740B4D3</string>
				<key>UUID</key>
				<string>44F04D29-2DE3-403E-AB91-72C7934B74A2</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8CA23609-61D7-433B-BC64-E05047713A02</string>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>weibo_url</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>8CA23609-61D7-433B-BC64-E05047713A02</string>
				<key>UUID</key>
				<string>78171258-0079-40F6-A224-B30201B79729</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.GlobalVariableSetNumber</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>GlobalVariableSetNumber</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>B1D962B6-EA69-45B4-9BA8-78FE0A0C679C</string>
				<key>action</key>
				<string>increment</string>
				<key>key</key>
				<string>in_app.taptap</string>
				<key>value</key>
				<string>1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4C9BA51C-4635-45C3-8F89-49A7B67B5A8C</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Shortcut Result</string>
						<key>OutputUUID</key>
						<string>4DB3BDC1-29A1-4F9E-ADD5-609D7DD0EC31</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFNotificationActionBody</key>
				<string>Press side button in 2s to open share sheet.</string>
				<key>WFNotificationActionSound</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<real>2</real>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.GlobalVariableGetNumber</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>GlobalVariableGetNumber</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>FCF52211-E6C3-43E0-A1CE-3A03A2E9B070</string>
				<key>key</key>
				<dict>
					<key>subtitle</key>
					<dict>
						<key>key</key>
						<string>in_app.taptap</string>
					</dict>
					<key>title</key>
					<dict>
						<key>key</key>
						<string>in_app.taptap</string>
					</dict>
					<key>value</key>
					<string>in_app.taptap</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>25034803-1BA1-467F-A13D-79012B5B19DE</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Global Variable — Number</string>
							<key>OutputUUID</key>
							<string>FCF52211-E6C3-43E0-A1CE-3A03A2E9B070</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>2</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.GlobalVariableSetNumber</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>GlobalVariableSetNumber</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>6C5AA139-9B1E-41DF-AE06-B21C663A9F1A</string>
				<key>action</key>
				<string>set</string>
				<key>key</key>
				<string>in_app.taptap</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.share</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7CC46D19-82D5-4091-B26B-0056BDE24D7B</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>weibo_url</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>25034803-1BA1-467F-A13D-79012B5B19DE</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.sindresorhus.Actions.GlobalVariableSetNumber</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>GlobalVariableSetNumber</string>
					<key>BundleIdentifier</key>
					<string>com.sindresorhus.Actions</string>
					<key>Name</key>
					<string>Actions</string>
					<key>TeamIdentifier</key>
					<string>YG56YK5RN5</string>
				</dict>
				<key>UUID</key>
				<string>C0721C2A-1DFD-4C04-9882-7846CE071914</string>
				<key>action</key>
				<string>set</string>
				<key>key</key>
				<string>in_app.taptap</string>
				<key>value</key>
				<string>0</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>25034803-1BA1-467F-A13D-79012B5B19DE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>17C0A926-5936-4E85-AEAB-447615BE7D29</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>weibo_url</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>430C0CAB-0E62-4088-A1CD-2550593C8A8C</string>
					<key>workflowName</key>
					<string>Convert weibo.com</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Convert weibo.com</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.dictionary</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>3A1790EC-4020-4F70-A102-F45D75369020</string>
				<key>WFItems</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>url</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>Shortcut Result</string>
												<key>OutputUUID</key>
												<string>17C0A926-5936-4E85-AEAB-447615BE7D29</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>&#xFFFC;</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>open_as</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>web</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>url_content</string>
				<key>UUID</key>
				<string>B6AB1481-5B00-432B-A8A3-96D784747557</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Dictionary</string>
						<key>OutputUUID</key>
						<string>3A1790EC-4020-4F70-A102-F45D75369020</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>2ABD2203-5622-4D70-B95A-43170760AC16</string>
					<key>workflowName</key>
					<string>URL Content</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>URL Content</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Input</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>url_content</string>
						<key>OutputUUID</key>
						<string>B6AB1481-5B00-432B-A8A3-96D784747557</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>9462C44C-1038-44A2-A766-505367698FB8</string>
				<key>WFCountType</key>
				<string>Characters</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>0B40C3D2-CA13-4163-9042-B1982B834F28</string>
				<key>WFCondition</key>
				<integer>2</integer>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputName</key>
							<string>Count</string>
							<key>OutputUUID</key>
							<string>9462C44C-1038-44A2-A766-505367698FB8</string>
							<key>Type</key>
							<string>ActionOutput</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>WFNumberValue</key>
				<string>500</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>Many actions won’t run with long input. 

www.decarpentier.nl/carpentopod works with show result 

Weibo status doesn’t </string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.showresult</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>url_content</string>
								<key>OutputUUID</key>
								<string>B6AB1481-5B00-432B-A8A3-96D784747557</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>&#xFFFC;</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>0B40C3D2-CA13-4163-9042-B1982B834F28</string>
				<key>UUID</key>
				<string>4D35AB31-5589-4E38-B4EC-0CC9896870CE</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.runworkflow</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4DB3BDC1-29A1-4F9E-ADD5-609D7DD0EC31</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>url_content</string>
						<key>OutputUUID</key>
						<string>B6AB1481-5B00-432B-A8A3-96D784747557</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFWorkflow</key>
				<dict>
					<key>isSelf</key>
					<false/>
					<key>workflowIdentifier</key>
					<string>0EAE26FA-2CF0-4012-A327-62FB4AA13AFE</string>
					<key>workflowName</key>
					<string>Share To +</string>
				</dict>
				<key>WFWorkflowName</key>
				<string>Share To +</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3607.0.2</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59734</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>-23508481</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>1113</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>1113</string>
	<key>WFWorkflowNoInputBehavior</key>
	<dict>
		<key>Name</key>
		<string>WFWorkflowNoInputBehaviorGetClipboard</string>
		<key>Parameters</key>
		<dict/>
	</dict>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array>
		<string>WFContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
</dict>
</plist>
